.popup{
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,.5);
    display: flex;
    visibility: hidden;

    /* padding: 19px; для маленьких экранов */
    /* overflow-y: auto; скрол для маленьких жкранов */
}