.mesto__delete{
    width: 18px;
    height: 19px;
    background-image: url(../../../images/Trash.svg);
    background-color: transparent;
    background-position:center;
    border: 0;
    position: absolute;
    transition: opacity .2s linear;
    top: 20px;
    right: 20px;
    cursor: pointer; 
}

.mesto__delete:hover{
    opacity: .5;
}

