.elements__like{
    width: 22px;
    height: 19px;
    border: 0;
    background-image: url(../../../images/heart.svg);
    background-color: transparent;
    margin: 0;
    transition: opacity .2s linear;
    cursor: pointer;
}

.elements__like:hover{
    opacity: .6;
}