.profile__user-caption{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    color: #fff;
    width:100%;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}